.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.workout-informations {
    background-color: #6C6C6C;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: 300;
    width: -webkit-fill-available;
    padding: 0 2em;
}

.exercises-information {
    display: flex;
    justify-self: center;
    align-self: center;
}

table {
    width: 80%;
    margin-top: 2em;
    box-shadow: -5px 17px 31px -15px #424242;
}

table, th, td {
    border: 1px solid black;
    padding: 1.5em;
    background-color: #6C6C6C;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    color: white;
}

td {
    text-align: center;
}

.add-exercise-button {
    background-color: transparent;
    border-radius: 4px;
    border-color: #F50057;
    color: white;
    width: 40vh;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1%;
    margin-bottom: 4%;
    padding: 1% 1% 1% 1%;
}
